"""Setup file for aqara package."""
from setuptools import setup, find_packages

setup(name='pyaqara',
 version='${VERSION}',
 description='Python API for interfacing with the Aqara gateway',
 url='https://github.com/javefang/pyaqara',
 download_url="https://github.com/javefang/pyaqara/tarball/${VERSION}",
 author='Xinghong Fang',
 author_email= 'xinghong.fang@gmail.com',
 license='MIT',
 packages=['aqara'],
 keywords = ['aqara', 'home', 'automation', 'sensor'],
 install_requires=['pycrypto', 'PyDispatcher']
)
